{{ 'component-promotion.css' | asset_url | stylesheet_tag }}

<style>
  .promotion-container-{{ section.id}}{
    background-color: {{ section.settings.background_color}}
  }

  .promotion-container-{{ section.id}}h2, .promotion-container-{{ section.id}}div {
    color: {{ section.settings.text_color}}}
</style>


<div class="page-width promotion-container promotion-container-{{section.id}}">
  <h2 class="h1">
    {{ section.settings.heading }}</h2>
  <div>
    {{ section.settings.text }}</div>
  <a class="button" href="{{section.settings.button_link}}">{{ section.settings.button_label }}</a>
</div>



{% schema %}
  {
    "name": "Promotion",
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading"
      },
      {
        "type": "text",
        "label": "Text",
        "id": "text"
      },
      {
        "type": "text",
        "label": "Button Label",
        "id": "button_label",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "label": "Button Link",
        "id": "button_link"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#f5f5f5"
      }

    ],

    "presets": [
      {
        "name": "Promo"

      }
    ]
  }
{% endschema %}